
@import url('https://fonts.googleapis.com/css?family=Arimo:400,700&display=swap');

tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
    background: #e3e3e3;
}
tbody {
    font-size: 16px;
}
td, th {
    height: 70px;
    border-right: 2px solid #d4d4d4;
}

.pricing-plan-table {
    width: 1192px;
    margin: 0 auto;
    border-collapse: collapse;
    border: 22px solid #3a4965;
    text-align: center;
    vertical-align: middle;
    font-family: 'Arimo', sans-serif;
    text-transform: uppercase;
    color: #484848;
}
.green-bg {
    background: #89c331;
    border: 1px solid #89c331;
}
.red-bg {
    background-color: #f04a56;
    border: 1px solid #f04a56;
}
.dark-green-bg {
    background: #20807c;
    border: 1px solid #20807c;
}

.dark-grey-bg {
    background: #484848;
}

.pricing-plan-table-thead {
    text-transform: uppercase;
    background-color: #fafafa;
}

.choose-text {
    font-size: 18px;
    font-weight: bold;
}

.pricing-plan-text {
    font-size: 30px;
    font-weight: bold;
}

.cost {
    font-size: 60px;
    font-weight: bold;
}

.cost::before {
    content: '\0024';
    font-size: 60px;
    
}

.sub-text {
    position: relative;
    left: -30px;
    bottom: 15px;
    font-size: 18px;
    font-weight: 400;

}

.sup-text {
    position: relative;
    top: -4px;
    font-size: 24px;
}

.pricing-plan-title {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

.icon-item {
    margin-right: 12px;
}

.contact-us-link {
    width: 192px;
    height: 50px;
    display: inline-block;
    margin: 30px auto;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    vertical-align: middle;
    font-weight: bold;
    color: white;
    background: #484848;
    box-shadow: 0 -7px #404040 inset;
    transition: 0.2s;
}

.contact-us-link:hover {
    background-color: #2E2E2E;
    box-shadow: 0 -7px #1C1C1C inset;
}

.buy-button-standard {
    width: 192px;
    height: 50px;
    display: inline-block;
    margin: 30px auto;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    vertical-align: middle;
    font-weight: bold;
    color: white;
    background: #89c331;
    box-shadow: 0 -7px #79b027 inset;
    transition: 0.2s;
}

.buy-button-standard:hover {
    background-color: #6f9c29;
    box-shadow: 0 -7px #436313 inset;
}

.buy-button-ultimate {
    width: 192px;
    height: 50px;
    display: inline-block;
    margin: 30px auto;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    vertical-align: middle;
    font-weight: bold;
    color: white;
    background:#f04a56;
    box-shadow: 0 -7px #df3a46 inset;
    transition: 0.2s;
}

.buy-button-ultimate:hover {
    background-color: #df3a46;
    box-shadow: 0 -7px #B22E38 inset;
}

.buy-button-premium {
    width: 192px;
    height: 50px;
    display: inline-block;
    margin: 30px auto;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    vertical-align: middle;
    font-weight: bold;
    color: white;
    background:#20807c;
    box-shadow: 0 -7px #16736f inset;
    transition: 0.2s;
}

.buy-button-premium:hover {
    background-color: #16736f;
    box-shadow: 0 -7px #115c58 inset;
}

.contact-us-footer-bg {background-color: #dddddd;}
.dark-grey-footer-bg {background-color: #eeeeee;}
.grey-footer-bg      {background: #f4f4f4;}
