
body {
	margin: 0;
	padding: 0; 
}

* {
	margin: 0;
	padding: 0; 
}

.container {
	width: 1280px;
	margin: 0 auto;	
	font-family: sans-serif;
	letter-spacing: 0.1em;

} 

.top-menu {
	width: 55%;
	margin: 0 auto;
	padding-top: 32px;
	padding-bottom: 35px;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
	
}

.top-menu-item {
	display: inline-block;
	margin-right: 70px;
	text-decoration: none;
	color: #16a085;
}

.last-item {
	margin-right: 0px;
}

.bot-section {
	background-color: #f5f6f7;
}

.bot-section-container {
	width: 80%;
	margin: auto;
	padding-bottom: 95px;
	
}

.bot-section-title {
	padding: 55px 0 35px;
	text-align: center;
	text-transform: uppercase;
	font-size: 22px;
	color: #373737

}

.bot-section-text {
	padding-bottom: 20px;
	text-align: center;
	line-height: 1.5;
	font-size: 16px;
	font-weight: bold;
	color: #373737;
}

.bot-section-button {
	display: block;
	margin: auto;
	width: 190px;
	height: 50px;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #16a085;
	border: 1px solid #16a085;
	border-radius: 3px;
	color: white;
	cursor: pointer;
	 
}

footer {
	padding-top: 45px;
	padding-right: 105px;
	padding-bottom: 45px;
	text-align: right;
	font-size: 16px;
	
}





