@import url('https://fonts.googleapis.com/css?family=Arimo:400,700&display=swap');

tbody {
    font-size: 16px;
}

th {
    height: 112px;
    border-bottom: 2px solid #d4d4d4;
}

td {
    height: 166px;
    box-sizing: border-box;
    padding-top: 18px;
    padding-bottom: 18px;
    border-bottom: 2px solid #d4d4d4;
}

.plan-description {
    width: 157px;
}

.pricing-plan-table {
    width: 1197px;
    margin: 0 auto;
    border-collapse: collapse;
    border: 22px solid #3a4965;
    text-align: center;
    vertical-align: middle;
    line-height: 1.5;
    font-family: 'Arimo', sans-serif;
    text-transform: uppercase;
    color: #484848;
}
.green-bg {
    background: #89c331;
    border: 1px solid #89c331;
}

.red-bg {
    background-color: #f04a56;
    border: 1px solid #f04a56;
}
.dark-green-bg {
    background: #20807c;
    border: 1px solid #20807c;
}

thead th:nth-child(n+3):nth-child(odd) {
    background-color: #f2f2f2;
}

td:nth-child(n+3):nth-child(odd) {
    background-color: #f2f2f2;
}

thead th:nth-child(even) {
    background-color: #e3e3e3;
}

td:nth-child(even) {
    background-color: #e3e3e3;
}

thead th:nth-child(1) {
    background-color: #fafafa;
}

.pricing-plan-table-thead {
    text-transform: uppercase;
    /*background-color: #fafafa;*/
}

.choose-text {
    font-size: 14px;
    font-weight: bold;
}

.pricing-plan-text {
    font-size: 20px;
    font-weight: bold;
}

.cost {
    display: inline-block;
    font-size: 36px;
    font-weight: bold;
    color: white;
}

.sub-text {
    position: relative;
    bottom: 5px;
    font-size: 14px;
    font-weight: 400;
}

.sup-text {
    font-size: 18px;
}

.pricing-plan-title {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

.icon-item {
    margin-right: 12px;
}

.buy-button {
    width: 144px;
    height: 41px;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    line-height: 41px;
    font-size: 16px;
    vertical-align: middle;
    font-weight: bold;
    color: white;
    background: #484848;
    box-shadow: 0 -7px #404040 inset;
    transition: 0.2s;
}

.buy-button:hover {
    background-color: #2E2E2E;
    box-shadow: 0 -7px #1C1C1C inset;
}
