body {
  background: #000000;
  overflow: hidden;
}

.black-box {
  height: 50vh;
  background: #000000;
}

.wrapper {
  height: 100vh;
  width: 600px;
  margin: 0 auto;
  transform: perspective(300px) rotateX(45deg);
  font-family: sans-serif;
  font-weight: bold;
  background-color: #000000;
}

.text-block h2 {
  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
  color: gold;
}

.text-block {
  z-index: -1;
  margin: 0 auto;
  display: inline-block;
  font-size: 48px;
  line-height: 1;
  text-align: justify;
  background-color:#000000;
  color: gold;
  animation-name: star-wars;
  animation-duration: 30s;
  animation-timing-function: linear;
}

@keyframes star-wars {
  0% {
    transform:  translate(0);
  }
  100% {
    transform: translateY(-500px);
  }
}

