.container {
    width: 1280px;
    margin: 0 auto;
    font-family: sans-serif;
}

header {
    padding-top: 61px;
    padding-bottom: 45px;
}

.logo-title {

    /*margin-bottom: 45px;*/
    font-size: 80px;
}

.logo-title a {
    color: black;
}

.blue-text {
    color:#4bcaff
}

.top-menu {
    background-color: #35444f;
    /*margin-top: 45px;*/
}

.top-menu-link {
    display: inline-block;
    padding: 25px 40px 20px 40px;
    font-size: 24px;
    color: #ffffff;
}

.first-top-menu-link {
    margin-left: 130px;
}
/*меняет цвет фона при наведении курсора в верхнем меню*/
a[class="top-menu-link"]:hover {
    background-color: #222f3a;
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;
}

a[class="top-menu-link first-top-menu-link"]:hover {
    background-color: #222f3a;
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;
}

.sidebar {
    display: inline-block;
    width: 375px;
    margin-top: 50px;
    vertical-align: top;
    border: 1px solid #35444f;
}

.sidebar-link {
    padding: 30px 100px 30px 40px;
    font-size: 30px;
}

.sidebar-link a {
    color: #7a858d;
}

/*меняет цвет фона при наведении курсора в боковом меню*/
.sidebar-link:hover {
    padding-left: 70px;
    padding-right: 45px;
    background-color: #dbdbdb;
    cursor: pointer;
    font-weight: bold;
}

.content {
    display: inline-block;
    width: 70%;
}

.image {
    padding-top: 75px;
    padding-bottom: 75px;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    text-align: center;
    border: 1px solid #35444f;
}

/*масштабирование картинки*/
.scale {
    transition: 1s;
}

.scale:hover {
    transform: scale(1.2);
}

.content-description {
    padding-bottom: 30px;
    padding-left: 80px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5em;
    color: #2c2c2c;
}

.footer-bg {
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: #b4b7ba;
}

.footer-link {
    display: inline-block;
    margin-left: 35px;
    padding-top: 25px;
    padding-bottom: 20px;
    font-size: 24px;
    color: #2c2c2c;
}


/*подсвечивание ссылок в футере*/
a[class="footer-link"]:hover {
    color: #3181a6;
    text-decoration: underline;
    /*border-bottom: 1px solid #3181a6;*/
    /*text-decoration-style: solid;*/
}

.copyright-text {
    display: inline-block;
    padding-left: 210px;
    font-size: 24px;
    font-weight: bold;
    color: #2c2c2c;

}

