.bg {
    margin: 0 auto;
    width: 1366px;
    font-family: sans-serif;
    background-image: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

header { padding-top: 50px; }

.container {
    margin: 0 auto;
    width: 1066px;
}

.logo {
    float: left;
    background-image: url(../img/logo-house.png);
    background-repeat: no-repeat;

}

.logo-text {
    padding-left: 51px;
    font-size: 18px;
}

.logo-text::first-line {
    font-size: 29px;
    font-weight: bold;
}

.logo-link {
    display: block;
    color: #ffffff;
}

.logo-link:hover {
    color: #f26522;
}

.logo:hover {
    background-image: url(../img/logo-house-orange.png);
}

.header-contact {
    float: right;
    line-height: 1.2em;
    text-align: right;
    font-size: 18px;
}

.shopping-tours,
.sightseeing-tours,
.food-tours,
.bars-nightlife,
.art-architecture,
.walking-tours {
    float: left;
    width: 307px;
    padding-top: 58px;
    padding-right: 70px;
}

.tour-gallery div:nth-child(3n) {
    float: right;
    padding-right: 0;
}

.tour-gallery a {
    color: #ffffff;
}

.shopping-title,
.sightseeing-title,
.food-title,
.bars-nightlife-title,
.art-architecture-title,
.walking-title {
    padding-top: 22px;
    text-align: center;
    font-size: 18px;
}

.tour-wrapper {
    position: relative;
    overflow: hidden;
    height: 200px;
}

.gradient-border {
    height: 200px;
    width: 308px;
    margin: 0 auto;
    border: 2px solid transparent;
    border-image: linear-gradient(to top, transparent 0%, #ffffff 100%) 1;
}

.submenu {
    position: absolute;
    bottom: -65px;
    box-sizing: border-box;
    width: 307px;
    height: 63px;
    padding-top: 32px;
    padding-right: 17px;
    padding-left: 28px;
    background-color: #f26522;
    transition: bottom 0.3s ease;
}

   .shopping-tours:hover .submenu,
.sightseeing-tours:hover .submenu,
       .food-tours:hover .submenu,
   .bars-nightlife:hover .submenu,
 .art-architecture:hover .submenu,
    .walking-tours:hover .submenu { bottom: 0; }


.tour-cost {
    position: relative;
    float: left;
    padding-left: 10px;
    font-size: 20px;
}

.tour-cost::before {
    content: 'from';
    position: absolute;
    top: -13px;
    right: 13px;
    font-size: 10px;
}

.tour-cost::after {
    content: '\20AC'; /* €*/
    position: absolute;
    right: 24px;
}

.tour-details {
   float: right;
}

.tour-details::after {
    content: '\003E';    /* > */
    padding-left: 15px;
}

footer {
    padding-top: 61px;
    padding-bottom: 20px;

}
.footer-text {

    text-align: center;
    font-size: 18px;
}
.clearfix {
    clear: both;

}