@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

.header-wrapper {
  width: 1900px;
  margin: 0 auto;
  background-color: #1d2124;
}
.header-container {
  width: 1850px;
  display: flex;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: space-between;
  align-items: baseline;
}

.logo {
  background-image: url(../img/logo-img@1X.png);
  background-repeat: no-repeat;
}

.logo-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
  padding-left: 50px;
}

.header-menu {
  width: 650px;
  display: flex;
  justify-content: space-between;

 }

.header-menu-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}

.news-section {
  width: 1900px;
  height: 100%;
  margin: 0 auto;
  background-size: cover;
  background: url(../img/header-bg-img@1X.png) fixed no-repeat center;
  font-family: 'Montserrat', sans-serif;

}
.news-section-container {
  width: 1160px;

  display: flex;
  flex-wrap: wrap;
  padding-top: 130px;
  padding-bottom: 140px;
  justify-content: center;
  margin: 0 auto;
}

.news-section-title {
  width: 100%;
  font-size: 27px;
  margin-bottom: 44px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;

}

.buttons-wrapper {
  width: 360px;
  display: flex;
  justify-content: space-between;
}

.news-section-button {
  width: 170px;
  height: 55px;
  display: inline-block;
  border-radius: 5px;
  box-sizing: content-box;
  text-transform: capitalize;
  text-align: center;
  vertical-align: middle;
  line-height: 55px;
  color: #ffffff;
  font-size: 18px;
 }
.subscribe-button {
  background-color: #89ca62;
}
.best-articles-button {
  background-color: #14b9d5;
}


.popular-posts {
  width: 1900px;
  margin: 0 auto;
  background-color: #f2f2f2;
}

.popular-posts-container {
  width: 1160px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
  padding-top: 70px;
  padding-bottom: 40px;
  font-family: 'Montserrat', sans-serif;
}

.section-title {
  margin-bottom: 50px;
  /*align-self: center;*/
  font-family: 'Montserrat', sans-serif;
  font-size: 27px;
  text-transform: uppercase;
  font-weight: bold;
  color: #18b4cf;
}

.post-item-description {
  padding-top: 20px;
  padding-bottom: 22px;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  color: #353a3d  ;
  background-color: #fff;
}

.post-gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 860px;
  width: 100%;
  align-content: space-between;
  justify-content: flex-start;
}

.post-item {
  width: 32%;
  margin-bottom: 30px;
}



.grid-box {
  display: grid;
  width: 1900px;
  min-height: 100vh;
  margin: 0 auto;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1170px 1fr;
  /*grid-gap: 10px;*/
  grid-template-areas: "popular-clients popular-clients popular-clients"
                        "top-rated      top-rated       top-rated"
                                      ". hot-news ."
                        "footer         footer          footer";

}

.popular-clients {
  grid-area: popular-clients;
  /*display: grid;*/
  background: url(../img/html_css_homework_homework6_img_parallax-bg.jpeg)fixed no-repeat center;
  font-family: 'Montserrat', sans-serif;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 880px 1fr;
  grid-template-areas:
                          ". logo-clients ."

}

.popular-clients-container {
  width: 880px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0  auto;
  padding-top: 200px;
  padding-bottom: 200px;
  font-family: 'Montserrat', sans-serif;
}

.logo-clients {
  display: grid;
  grid-area: logo-clients;
  /*width: 100%;*/
  /*display: flex;*/
  /*justify-content: space-between;*/
  /*align-items: center;*/
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 75px;
  grid-template-areas: "logo1 logo2 logo3 logo4";
  align-items: center;
}
.logo-national  {grid-area: logo1;}
.dryme-logo     {grid-area: logo2;}
.house-logo     {grid-area: logo3;}
.journey-logo   {grid-area: logo4;}


.popular-clients-title {
  position: relative;
  margin-bottom: 110px;
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;

}

.popular-clients-title::after {
  content: '';
  position: absolute;
  bottom: -55px;
  left: 44%;
  width: 60px;
  height: 3px;
  border-top: 3px solid #18b4cf;
}

.top-rated {
  grid-area: top-rated;
  padding-top: 60px;
  text-align: center;
}
.top-rated-gallery {
  display: flex;
}
.hot-news {
  grid-area: hot-news;
  padding-top: 60px;
  text-align: center;
}

.hot-news-gallery {
  display: grid;
  margin: 0 auto 40px;
  font-family: 'Montserrat', sans-serif;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 35px;
  grid-row-gap: 42px;
  grid-template-areas: "card-1 card-1 card-1 card-2"
                        "card-3 card-3 card-4 card-4"
                        "card-5 card-5 card-6 card-6"
                        "card-7 card-8 card-8 card-8";
}

.news-title {
   padding-bottom: 22px;
   font-size: 18px;
   font-weight: bold;
   color: #5b6469;
}
.news-description {
  padding: 20px;
  text-align: right;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  background-color: #f9f7f7;
  color: #5b6469;

}

.news-description a {color: #5b6469;}

.news-emirate {
  grid-area: card-1;
  display: flex;
}

.news-shroud-resort-spain {
  grid-area: card-8;
  display: flex;
}



.news-nebula-spain {
  grid-area: card-2;
  background-color: #f9f7f7;
  }

.news-ireland {
  grid-area: card-7;
  background-color: #f9f7f7;
}
.news-spain-title,
.news-ireland-title {
  padding-top: 15px;
}

.news-egypt {
  grid-area: card-3;
  width: 554px;
  display: flex;
  flex-wrap: wrap;
}

.news-maldive {
  grid-area: card-4;
  width: 554px;
  display: flex;
  flex-wrap: wrap;
  justify-self: flex-end;
}

.news-tenerife {
  grid-area: card-5;
  width: 554px;
  display: flex;
  flex-wrap: wrap;
}

.news-great-britain {
  grid-area: card-6;
  width: 554px;
  display: flex;
  flex-wrap: wrap;
  justify-self: flex-end;
}

.emirate-description,
.shroud-resort-spain-description {
  width: 40%;
}

footer {
  grid-area: footer;

  background-color: #1d2124;
  color: #ffffff;
}

.footer-container {
  width: 1170px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}
.footer-logo-title {
  height: 24px;
  background: url(../img/Vector-Smart-Object.png)  no-repeat;
  padding-left: 36px;
  font-weight: bold;
}
