.wrapper {
    background-image: url("../img/rana-sawalha.png");
    /*-webkit-background-size: 100%;*/
    /*height: 100%;*/
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
}

.container {
    width: 1210px;
    margin: 0 auto;
}

.container-form {
    width: 322px;
    margin: 0 auto;
}

.green-link {
    color: #3cb878;

}

.green-link:hover {
    text-decoration: underline;
}

header {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(0,0,0,0.5);

}

.logo {
    float: left;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;

}

.logo:hover {
    color: #3cb878;
    cursor: pointer;
}

.header-icon {
    float: right;
    display: inline-block;
    padding-right: 28px;
    background: url('../img/icon-sprite.png') no-repeat;
}

.calendar { background-position: -1px -101px; width: 19px; height: 19px; }
.blog     { background-position: -1px -21px;  width: 28px; height: 20px; }
.location { background-position: -1px -59px;  width: 20px; height: 20px; }

.calendar:hover { background-position: -1px -121px; width: 19px; height: 19px; }
.blog:hover { background-position: -1px -0px;   width: 28px; height: 20px; }
.location:hover { background-position: -1px -80px;  width: 20px; height: 20px; }

.last-header-link {
    padding-right: 50px;
}

.log-in-header {
    display: inline-block;
    float: right;
    font-size: 14px;
    color: #ffffff;
}

.form-wrapper::before {
    content: '';
    display: inline-block;
    height: calc(100% - 65px);
    vertical-align: middle;
}

.form-wrapper {
    text-align: center;
}

.sign-up-form {
    width: 444px;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    position: relative;
    margin: 65px 0;
    margin-left: -0.35em;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #fff;
    border-radius: 8px;
}

.sign-up-form::before {
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    top: 32px;
    left: 0;
    background-color: #3cb878;
}

.sign-up-form-title {
    display: inline-block;
    float: left;
    padding-bottom: 15px;
    font-size: 20px;
    text-transform: capitalize;
    color: #434343;
}

.log-in-form-link {
    display: inline-block;
    float: right;
    font-size: 14px;
}

.facebook-button {
    width: 157px;
    height: 46px;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    float: left;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    text-align: right;
    font-size: 16px;
    border-radius: 3px;
    background-color:  #264b96;
    color: #ffffff;
}

.facebook-button::before {
    content: '';
    height: 38px;
    position: absolute;
    left: 44px;
    top: 5px;
    border-right: 1px solid #224387;
}

.google-button {
    width: 157px;
    height: 46px;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    float: left;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    margin-bottom: 30px;
    text-align: right;
    font-size: 16px;
    border-radius: 3px;
    background-color:  #c3412c;
    color: #ffffff;
}

.facebook-button::after {
    content: '';
    position: absolute;
    right: 130px;
    background: url('../img/icon-sprite.png') no-repeat;
    background-position: -1px -141px; width: 10px; height: 20px;
}

.google-button::before {
    content: '';
    height: 38px;
    position: absolute;
    left: 44px;
    top: 5px;
    border-right: 1px solid #af3a28;
}

.google-button {
    display: inline-block;
    float: right;
}

.google-button::after {
    content: '';
    position: absolute;
    right: 120px;
    background: url('../img/icon-sprite.png') no-repeat;
    background-position: -1px -42px; width: 25px; height: 16px;
}


.border {
    text-align: center;
    margin-bottom: 18px;
    position: relative;
}
.border::before {
    content: '';
    width: 135px;
    height: 1px;
    display: inline-block;
    position: absolute;
    top: 9px;
    left: 3px;
    border-top: 1px solid #eaeaea;

}

.border::after {
    content: '';
    width: 135px;
    height: 1px;
    display: inline-block;
    position: absolute;
    bottom: 5px;
    right: -1px;
    border-top: 1px solid #eaeaea;

}

.form-field {
    width: 100%;
    height: 46px;
    box-sizing: border-box;
    /*padding-top: 19px;*/
    /*padding-bottom: 17px;*/
    padding-left: 17px;
    margin-bottom: 17px;
    font-size: 14px;
    vertical-align: middle;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    text-transform: capitalize;
}

.form-field::placeholder {
    color: rgba(190, 190, 190, 255);

}

.form-field:focus {
    box-shadow: 2px 3px 8px rgba(0,0,0,0.2);
}

input[type="checkbox"] {
    display: none;
}

.agree-checkbox {
    position: relative;
    padding-left:35px;
    padding-bottom: 28px;
    text-align: left;
    font-size: 14px;
}
.agree-checkbox label::after {
    content: '';
    position: absolute;
    top: -4px;
    left:0;
    display: inline-block;
    width: 14px;
    height: 11px;
    padding: 5px 3px;
    border: 1px solid #eaeaea;
    border-radius:2px;
}

.agree-checkbox input[type="checkbox"]:checked + label::after {
    background: url('../img/checkbox.png');
    background-position:center;
    background-repeat: no-repeat;
}

.create-account-button {
    width: 100%;
    height: 46px;
    /*padding: 17px 0;*/
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    text-transform: capitalize;
    color: #ffffff;
    background-color: #329a65;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.clearfix {
    clear: both;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
